<mat-sidenav-container autosize>
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isOpen" >
      <div class="logo">
        <div class="w-12 h-12 mr-2">
          <img src="assets/m.png" class="w-full h-full" alt="">
        </div>
        <div class="text-2xl font-sans font-extralight text-0-primary">
          MUSICA
        </div>
      </div>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
          class="my-4 mx-4"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true }"
          *matTreeNodeDef="let node"
          [class.child-menu]="node.level > 0"
        >
          <ng-container>
            <button
              class="nav-item"
              [routerLink]="node.link"
            >
              <mat-icon class="mat-icon-rtl-mirror menu-icon">{{
                node.icon
              }}</mat-icon>
              <span class="menu-name block pl-3">{{ node.name }}</span>
            </button>
          </ng-container>
        </mat-tree-node>

        <mat-tree-node [routerLinkActive]="['active']" *matTreeNodeDef="let node; when: hasChild">
          <button
            class="nav-item nav-parent relative"
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <mat-icon class="menu-icon">{{node.icon}}</mat-icon>
            <span class="menu-name block pl-4">{{ node.name }}</span>
            <mat-icon class="ml-auto text-sm expand-icon absolute top-2 right-0">
              {{treeControl.isExpanded(node) ? "expand_more" : "chevron_right"}}
            </mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="h-full" style="background-color: #F3F2EB">
        <div>
          <div class="min-h-16 bg-0-primary flex items-center justify-between text-white">
            <button mat-icon-button (click)="openSideBar()">
               <mat-icon class="leading-[18px] ">menu</mat-icon>
            </button>
            <app-profile></app-profile>
          </div>
          <app-breadcrumb></app-breadcrumb>
          <div class="p-10">
            <router-outlet></router-outlet>
          </div>
        </div>
        <app-footer class="absolute bottom-0"></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
