@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@460&family=Rajdhani:wght@300;400;500;600;700&display=swap');

$allweb-primary: (
  50 : #e6e7e7,
  100 : #c2c2c4,
  200 : #999a9d,
  300 : #707276,
  400 : #515358,
  500 : #32353b,
  600 : #2d3035,
  700 : #26282d,
  800 : #1f2226,
  900 : #131619,
  A100 : #5fb0ff,
  A200 : #2c96ff,
  A400 : #007cf8,
  A700 : #006fdf,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$allweb-second: (
  50: #f9ebf9,
    100: #f3d7f4,
    200: #e7afe9,
    300: #da88dd,
    400: #ce60d2,
    500: #c238c7,
    600: #9b2d9f,
    700: #742277,
    800: #4e1650,
    900: #270b28,
    950: #130614,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);


$allweb-accent:  (
  50 : #fbf9f4,
  100 : #f6f1e3,
  200 : #f0e8d0,
  300 : #e9dfbd,
  400 : #e5d8af,
  500 : #e0d1a1,
  600 : #dccc99,
  700 : #d8c68f,
  800 : #d3c085,
  900 : #cbb574,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff8e3,
  A700 : #fff1c9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$cd-accent: (
  50 : #fcfaed,
  100 : #f8f3d2,
  200 : #f4ecb4,
  300 : #f0e495,
  400 : #ecde7f,
  500 : #e9d868,
  600 : #e6d460,
  700 : #e3ce55,
  800 : #dfc84b,
  900 : #d9bf3a,
  A100 : #ffffff,
  A200 : #fffdf1,
  A400 : #fff4be,
  A700 : #ffefa5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cd-primary: mat.define-palette($allweb-primary,500);
$cd-accent: mat.define-palette($allweb-second,200);
$cd-warn: mat.define-palette($cd-accent);

$cd-theme: mat.define-light-theme((
  color: (
    primary: $cd-primary,
    accent: $cd-accent,
    warn: $cd-warn,
  )
));

@include mat.all-component-colors($cd-theme);

html, body { height: 100%;box-sizing: border-box }
body {margin: 0; font-family:  "Dosis", "Helvetica Neue", sans-serif; background-color: #F6FAFC; font-weight: 500;box-sizing: border-box}


h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-sidenav-container {
  height:100%;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  @apply bg-0-bg-primary
}


::-webkit-scrollbar-thumb {
  @apply bg-0-primary rounded-2xl
}
